<?xml version="1.0" encoding="utf-8"?>
<WebAppSettings name="webappsettings">
  <Settings foo="bar">
    <add name="domain" value="gmail"/>
    <add name="send-email-address" value="freewifi.fis@gmail.com"/>
    <add name="send-email-sender" value="FPT Wi-Fi Hotspot"/>
    <add name="send-email-password" value=""/>
    <add name="send-email-subject" value=""/>
  </Settings>
</WebAppSettings>
