@{
    ViewBag.Title = "ConnectedError";
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Oops</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="//fonts.googleapis.com/css?family=Capriola" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/FISProject/css/connectederror.css" type="text/css" media="all"/>
</head>
<body>
<div class="wrap">
    <div class="logo">
        <h1>OOPS</h1>
        <p>You have already connected!</p>
        <div class="sub">
            <p>
                <a href="https://www.fis.com.vn/">Back to Home</a>
            </p>
        </div>
    </div>
</div>
</body>